/*color scheme
#9dffb0  #7dcc8c
#81f1f7  #67c0c5
#fffbec  #e5e1d4
#c48d3f  #9c7032
#fff563  #ccc44f
*/
/*projects*/

.project-img{
    float: left;
    padding-right: 30px;
}
.project {
    padding: 20px 10px 20px 10px;
    text-align: justify;
    grid-column: span 3;
}
